//
//	The default options should be appropriate for most cases.  
//

params {
	// Paths
	RefGen 		= false
	BamDir 		= false
	ProcBamDir 	= "./02_Processed_Bams"					
	HCDir 		= "./03_HaplotypeCaller"  
	DBIDir 		= "./04_GenomicsDBI"							// Mode: DNAseq only
	GVCFDir		= "./05_GenotypeGVCF"							// Mode: DNAseq only
	MVDir		= "./04_MergedVCFs"								// Mode: RNAseq only
	SVDir		= "./06_SelectVariants"
	VFDir 		= "./07_Filteres_SNPs"

	// Concurrency options - PBS only permits up to 50 jobs so number of process instances needs to be limited
	// You can increase the number of Boot_Forks to slightly increase speed if you have a lot of input fastas
	BP_Forks 	= 24
	HC_Forks 	= 24
	HCG_Forks 	= 24
	DBI_Forks 	= 15
	GVCF_Forks 	= 15
	SV_Forks 	= 10
	VF_Forks 	= 10


	// Default workflow options
	Chroms 				= ""
	VC_mode 			= "DNAseq"
	help 				= false
	version 			= false
	Skip_BP				= false
	Skip_HC   			= false
	Skip_HCG 			= false
	Skip_DBI  			= false
	Skip_GVCF 			= false
	Skip_SV				= false
	Skip_VF				= false


	//
	// Paramaters for each process
	//

	// Bam Processing options
	BP_threads 		= 8									// Max 8 for throughput node, 32 for general node
	BP_memory 		= 32 								// Number of Gb for HPC slave job
	BP_walltime 	= 24
	MD_args 		= ""								// Optional arguments for MarkDuplicates

	// HaplotypeCaller options - 		(RNAseq)
	HC_threads 		= 8									// Max 8 for throughput node, 32 for general node
	HC_memory 		= 32								// Number of Gb for HPC slave job
	HC_walltime 	= 72
	HC_args 		= ""								// Optional arguments for HaplotypeCaller

	// HaplotypeCaller-GVCF options - 	(DNAseq)
	HCG_threads 	= 32								// Max 8 for throughput node, 32 for general node
	HCG_memory 		= 32 								// Number of Gb for HPC slave job
	HCG_walltime 	= 72
	HCG_args 		= ""								// Optional arguments for HaplotypeCaller-GVCF

	// GenomicsDBImport options - 		(DNAseq)
	DBI_threads 	= 8									// Max 8 for throughput node, 32 for general node
	DBI_memory 		= 32 								// Number of Gb for HPC slave job
	DBI_walltime 	= 72
	DBI_args 		= ""								// Optional arguments for GenomicsDBImport

	// GenotypeGVCF options - 			(DNAseq)
	GVCF_threads 	= 32								// Max 8 for throughput node, 32 for general node
	GVCF_memory 	= 32 								// Number of Gb for HPC slave job
	GVCF_walltime 	= 72
	GVCF_args 		= "--max-alternate-alleles 15"		// Optional arguments for GenotypeGVCF - --max-alternate-alleles is
														// needed for pooled sequencing. 

	// SelectVariants options
	SV_threads 		= 2 								// Max 8 for throughput node, 32 for general node
	SV_memory 		= 12 								// Number of Gb for HPC slave job
	SV_walltime 	= 12
	SV_args 		= ""								// Optional arguments for SelectVariants

	// SelectVariants options
	VF_threads 		= 2 								// Max 8 for throughput node, 32 for general node
	VF_memory 		= 12 								// Number of Gb for HPC slave job
	VF_walltime 	= 12
	VF_Filts 		= ""								// Filtration arguments. Keep as "" to use defaults.
	VF_args 		= ""								// Optional arguments for SelectVariants

}
