params {
	// Default workflow options - Don't change
	mode          = "trim_galore"
	init          = false
	help          = false
	FastQC        = false
	version       = false
	Skip_Map      = false
	Skip_Trim     = false
	Skip_IndexRef = false

	// Optional arguments
	FastQC_args = ""
	TG_args     = ""
	TM_args     = ""
	BWA_args    = ""



	// Paths
	TrimDir = "./01_Trimmed"
	MapDir  = "./02_Mapped"
	
	// Concurrency options - PBS only permits up to 50 jobs so number of process instances needs to be limited
	Trim_Forks = 20 
	Map_Forks  = 24
	QC_Forks   = 5
 
	// Paramaterised to run in background permitting user to still run a few (<10) HPC jobs - remove // in lines below to permit this option and remove above paramaters
	// Trim_Forks = 13 
	// Map_Forks  = 23
	// QC_Forks   = 3

	// Trimming options
	TG_threads  = 8				   // Keep this at 8 on Imperial HPC. The .nf script now only uses this to request cpus in job, not to paramaterise -j option. 
	TG_memory   = 32
	TG_walltime = 12  
	TG_Clip_R1  = 20               // Required - Will trim the 5' end by this much - i.e., primer removal
	TG_Clip_R2  = 20               // Required - Only a trim_galore option, trimomatic will remove the ClipR1 length on both reads
	TG_qual     = 20               // Required - Removes low quality tails when phred drops below score
 
	// Mapping options
	refGen = "/rds/general/user/dthorbur/home/01_Scripts/06_Methylation/07_Nextflow/00_Resources/VectorBase-54_AgambiaePEST_Genome.fasta" // Required
	BWA_threads  = 8
	BWA_memory   = 32
	BWA_walltime = 24 
	BWA_RG_PL    = "illumina"         // Required - Update this to the sequencing platform used
	BWA_RG_LB    = "g3_agamp4"        // Required - Update this to dataset name
}
